@model MovieWebAppStaj.Domain.Genre

@{
    ViewData["Title"] = "Details";
}

<h1 class=" text-center " style="color:goldenrod">@Html.DisplayFor(model => model.Name)</h1>

<div class="text-center">
    <hr />
    <dl class="row" style="color:maroon">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.Image)" alt="Image" width="300px" height="400px" />
        </dd>
    </dl>
</div>
<div class="text-center" style="color:maroon">
    <a asp-action="Index" style="color:goldenrod">Back to List</a>
</div>
