@model IEnumerable<SkateAppWeb.Models.Favorites.FavoriteListingVM>
@{
    ViewData["Title"] = "Favorites";
}
<head>
    <link rel="stylesheet" href="~/css/myFavorites.css" asp-append-version="true" />
</head>

<body>

    <div class="myFavoritesBanner">
        <h1>Favorites</h1>
    </div>

    <div class="d-lg-inline-block align-top col-md-8 m-auto">
        @if (Model.Count() == 0)
        {
            <h4 class="noFavs">No Favorites</h4>
            <img src="https://freepngimg.com/thumb/emoji/101927-emoji-with-hand-cool-download-free-image.png" alt="noFavorites" class="nofavoritesImage">
        }
        @if (Model.Count() > 0)
        {
            <div class="favoritesTop">
                <span class="favoritesCount">Count:@Model.Count()</span>
                <span class="name">Favorites</span>
            </div>
            <div class="myFavoritesContainer">
                @foreach (var item in Model)
                {
                    <div class="myFavoritesCard">
                        <a href="@Url.Action("Delete", "Favorites", new { id = item.Id })">
                            <button class="myFavoritesRemoveButton"></button>
                        </a>
                        <img src="@item.Picture" alt="Product Image" />
                        <p class="myFavoritesBrand">@item.BrandName</p>
                        <p>@item.Product</p>
                        <p>Price: @item.Price lv</p>
                        <div>
                            <p class="text-right m-2" style="font-weight:bold;">See product <a class="font-italic" asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductId">here</a>.</p>
                        </div>
                    </div>
                }
            </div>
        }
    </div>

</body>