@model SkateAppWeb.Models.Orders.OrderDeleteVM
@{
    ViewData["Title"] = "OrdersDelete";
}

<head>
    <link rel="stylesheet" href="~/css/deletePages.css" asp-append-version="true" />
</head>
<h1 class="deleteH">Are you sure you want to <spam style="color:dodgerblue">delete</spam> this product?</h1>
<div style="float:left; display:inline; margin-left:30px;">
    <dl class="row">
        <dd class="col-sm-10">
            <img class="deleteImg" src="@Html.DisplayFor(model => model.Picture)" alt="Image" />
        </dd>
    </dl>
</div>
<div class="infoDiv">
    <dl class="row">
        <dt class="col-sm-2 deleteLabels">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10 deleteInfo">
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt class="col-sm-2 deleteLabels">
            Order Date
        </dt>
        <dd class="col-sm-10 deleteInfo">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col-sm-2 deleteLabels">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10 deleteInfo">
            @Html.DisplayFor(model => model.TotalPrice)lv
        </dd>
        <dt class="col-sm-2 deleteLabels">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10 deleteInfo">
            @Html.DisplayFor(model => model.Price)lv
        </dd>
        <dt class="col-sm-2 deleteLabels">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10 deleteInfo">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
    <dl class="row">
        <dd class="col-sm-10">
            <img class="deleteImg" src="@Html.DisplayFor(model => model.Picture)" alt="Image" />
        </dd>
    </dl>
</div>
@if (User.IsInRole("Administrator"))
{
    <form asp-action="Delete" asp-controller="Orders" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="nav-link btn btn-link"><img class="buttonDelete" src="https://dryhouserestoration.com/wp-content/uploads/2020/08/6.png"></button>
    </form>
}
